header{
	width:100%;
	height: 150px;
	color:#9C54FA;
	background-color: #F5CBC2;
	font-size: 30px;

}
.logo{
	position: absolute;
	right: 20px;
	top:5px;
}
body{
	background-color: #E5EFF8;
	padding: 0px;
	margin:0px;
	margin-bottom: 200px;

}
footer{
	position: fixed;
	width:100%;
	height: 150px;
	color:#9C54FA;
	background-color: #F5CBC2;
	font-size: 30px;
	bottom: 0px;
}